@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes sweep {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-sweep {
  animation: sweep 2s ease-in-out forwards;
}
